fdba-ranking-header {
    .fdba-ranking-header{
        width: 100%;
        height: 202px;
        background-color: $primary;
        background-size: cover;
        
        &__icon{
            position: relative;
            display: flex;
            justify-content: center;
        }

        &__text{
            color: $white;
        }
    }
    
}
