page-video-concluido {
  ion-content {
    position: relative;
    fdba-button {
      z-index: 3;
      bottom: 5%;
      right: 5%;
      position: absolute;
      width: 160px;
    }
    .fdba-page--video-concluido__zona-click {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20%;
    }
  }
}
