<div *ngIf="type == 'badge-red' " class="fdba-badge">
  <div class="fdba-badge__content">
    <span class="fdba-badge__content__text-number">+{{badgePoints}}</span>
    <span class="fdba-badge__content__text">pontos</span>
  </div>
  <img class="fdba-badge__flag" src="../../assets/icon/badge-red.svg" alt="">
</div>

<div *ngIf="type == 'badge-yellow' " class="fdba-badge">
  <div class="fdba-badge__content">
    <span class="fdba-badge__content__text-number">{{badgePoints}}</span>
    <span class="fdba-badge__content__text">pontos</span>
  </div>
  <img class="fdba-badge__flag" src="../../assets/icon/badge-yellow.svg" alt="">
</div>

<div *ngIf="type == 'badge-silver' " class="fdba-badge">
  <div class="fdba-badge__content">
    <span class="fdba-badge__content__text-number">{{badgePoints}}</span>
    <span class="fdba-badge__content__text">pontos</span>
  </div>
  <img class="fdba-badge__flag" src="../../assets/icon/badge-silver.svg" alt="">
</div>

<div *ngIf="type == 'badge-coper' " class="fdba-badge">
  <div class="fdba-badge__content">
    <span class="fdba-badge__content__text-number">{{badgePoints}}</span>
    <span class="fdba-badge__content__text">pontos</span>
  </div>
  <img class="fdba-badge__flag" src="../../assets/icon/badge-coper.svg" alt="">
</div>



<span *ngIf="type =='avisos' " class="fdba-badge--avisos" [ngClass]="{'fdba-badge--avisos--red': avisoCor == 'red', 'fdba-badge--avisos--gold': avisoCor=='gold'}">
  <ion-icon [name]="avisoIcon"></ion-icon>
  {{avisoText}}
</span>
