fdba-badge {
    .fdba-badge{

            position: relative;
            display: flex;
            justify-content: center;
        
        &__content{
            position: absolute;
            z-index: 1;
            margin-top: 9px;
            color: $white;
            text-align: center;

            &__text-number{
                display: block;
                font-size: $m-font-size;
                text-align: center;
            }

            &__text{
                display: block;
                top: -10;
                font-size: $xss-font-size;
            }
        }

        &__flag{
            height: 50px;
        }
        
    }
}
