<fdba-header-config firstSegment="configurações" secondSegment="perfil" [nomeUsuario]="(userData$)?.username" [pontos]="(userData$)?.pontos"
  [configSegment]="configSegment" (configSeg)="configSegment = $event">
</fdba-header-config>

<ion-content [ngSwitch]="configSegment" padding>


  <section *ngSwitchCase="'config'">
    <fdba-perfil-input [email]="userAuth$" [name]="(userData$)?.nome" [username]="(userData$)?.username" (newPerfil)="updatePerfil($event)"
      (logout)="logout()"></fdba-perfil-input>
  </section>


  <section *ngSwitchCase="'conq'">
    <fdba-texto-aviso texto="Você não possui nenhuma conquista" *ngIf="!conquistasUsuario$.length"></fdba-texto-aviso>

    <div class="fdba-page--perfil__conquista-list" *ngIf="conquistasUsuario$">
      <div class="fdba-page--perfil__conquista-list__conquista" *ngFor="let conquista of conquistasUsuario$">
        <fdba-conquista [titulo]="conquista.nome" [imagem]="conquista.imagem" [descricao]="conquista.descricao" [background]="conquista.background">
        </fdba-conquista>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="'concluidos'">
    <fdba-texto-aviso texto="Você não concluiu nenhum desafio" *ngIf="!desafiosConcluidos.length"></fdba-texto-aviso>




    <fdba-card *ngIf="desafiosConcluidos" [listaDesafios]="desafiosConcluidos" (clickCard)="verPaginaDesafio($event)"></fdba-card>
  </section>

</ion-content>
