fdba-parabens {
    .fdba-parabens{
        height: 100px;
        width: calc(100% + 32px);
        margin: 0px -15px;
        background: $transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        &__titulo {
            text-align: center;
            font-size:$xl-font-size;
            color:$dark-grey;
            }
        &__descricao{
            color: $dark-grey;
            font-size: $l-font-size;    
        }
        &__local__titulo{
            text-align: center;
            font-size:$xl-font-size;
            color:$dark-grey;
        }
        &__local__descricao{
            color: $dark-grey;
            font-size: $l-font-size; 
        }
        &__local__imagem{
            width: 60px;
            height: 100%;
            background: $transparent;
            box-shadow: $gold-neon;
            display: block;
            img {
            height: 100%;
            width: 60px;
        }
    }
} 
}
