fdba-parabens {
    .fdba-parabens{
        height: 100px;
        width: calc(100% + 32px);
        margin: 0px -15px;
        background: $super-dark-transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        &__titulo {
            text-align: center;
            font-size:$xl-font-size;
            color: white;
            }
        &__descricao{
            color: $white;
            font-size: $l-font-size;    
        }
    }
    
}
