fdba-button {
  .fdba-button {
    &--degrade-rosa {
      border-radius: 2px;
      width: 100%;
      height: 60px;
      color: $white;
      background: $pink-gradient;
      font-size: $default-font-size;
      font-variant: small-caps;
      box-shadow: $gold-neon;
    }
    &--degrade-laranja {
      width: 100%;
      height: 60px;
      color: $white;
      background: $gold-gradient;
      font-size: $default-font-size;
      font-variant: small-caps;
      box-shadow: $gold-neon;
    }
    &--degrade-vermelho {
      width: 50%;
      height: 60px;
      color: $white;
      background: $red-gradient;
      font-size: $default-font-size;
      font-variant: small-caps;
      box-shadow: $red-neon;
    }
    &--degrade-verde {
      width: 50%;
      height: 60px;
      color: $white;
      background: $green-gradient;
      font-size: $default-font-size;
      font-variant: small-caps;
      box-shadow: $green-neon;
    }
<<<<<<< HEAD
    &--onboarding-proximo {
      width: 50%;
      height: 60px;
      color: $white;
      background: $primary-light-gradient;
      font-size: $default-font-size;
      font-variant: small-caps;
      box-shadow: $primary-neon;
    }
    &--onboarding-voltar {
      width: 50%;
      height: 60px;
      color: $white;
      background: $grey;
      font-size: $default-font-size;
      font-variant: small-caps;
      box-shadow: none;
=======
    &--transparente-branco-duplo {
      width: 50%;
      height: 60px;
      color: $white;
      font-size: $default-font-size;
      font-variant: none;
      box-shadow: none;
      background: transparent;
>>>>>>> fdba-2
    }
  }
}
