<div class="fdba-desafio-header" [style.background-image]="'url('+desafio.imagem+')'">
  <div class="fdba-desafio-header__overlay">
    <div class="fdba-desafio-header__title">
      <span>{{desafio.nome}}</span>
    </div>
  </div>
</div>
<!-- 
<div class="fdba-desafio-header">
    <div class="fdba-desafio-header__bg" [style.background-image]="'url('+desafio.imagem+')'">
        <div class="fdba-desafio-header__overlay">
        </div>
    </div>  
    <div class="fdba-desafio-header__title">
        <span>{{desafio.nome}}</span>
      </div>
  </div> -->