<div class="fdba-desafio-info--box">
  <div class="fdba-desafio-info--box-inside">
    <round-progress class="fdba-desafio-info--circle" [current]="40" [max]="100" [radius]="30" [stroke]="4" [color]="'#ffba37'"></round-progress>
    <span  class="fdba-desafio-info--text__number">{{dificuldade}}</span>
    <span  class="fdba-desafio-info--text__name">Dificuldade</span>
      </div>
  <div class="fdba-desafio-info--box-inside">
    <round-progress class="fdba-desafio-info--circle" [current]="40" [max]="100" [radius]="30" [stroke]="4" [color]="'#218DB8'"></round-progress>
    <span  class="fdba-desafio-info--text__number">{{pontos}}</span>
    <span  class="fdba-desafio-info--text__name">Pontos</span>
  </div>
  <div class="fdba-desafio-info--box-inside">
    <round-progress class="fdba-desafio-info--circle" [current]="40" [max]="100" [radius]="30" [stroke]="4" [color]="'#218DB8'"></round-progress>
    <span  class="fdba-desafio-info--text__number">+{{completaram}}</span>
    <span  class="fdba-desafio-info--text__name">Completaram</span>
  </div>
</div>

