page-desafio {
  ion-content {
    background: $super-dark-blue-gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    fdba-desafio-header {
      .fdba-desafio-header {
        margin: -16px -16px 10px;
        width: calc(100% + 32px);
      }
    }
    .fdba-page--desafio {
      &__aceitarButton {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 32px)
      }
      &__botoesAceitarDesistir {
        display: flex;
        justify-content: center;
        fdba-button {
          width: 50%;
          padding: 0px 5px
        }
      }
      &__info {}
      &__dicas {
        margin-top: 15%;
        margin-bottom: 10%;
      }
    }
  }
}
