fdba-dicas {
  .fdba-dicas {
    width: 100%;
    margin-bottom: 24px;
    &__titulo {
      color: $white;
      font-size: $l-font-size;
      margin-bottom: 15px;
    }
    &__dicas {
      color: $white;
      font-size: $default-font-size;
    }
    &__button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__linha {
        margin-top: 20px;
        width: 100%;
        height: 2px;
        background-color: $white;
        opacity: .3;
      }
    }
  }
}
