page-home {
  .fdba-page--home {
    color: white;
    height: 100%;
    background: $super-dark-blue-gradient;
    ion-content {
      background: none;
    }
    &__desafios {
      margin-top: -40px;
      position: relative;
      z-index: 3;
    }
  }
}
