page-home {
  .fdba-page--home {
    color: white;
    height: 100%;
    background: $super-dark-blue-gradient;
    ion-content {
      background: none;
    }
    h2 {
      color: white
    }
  }
}
