fdba-input {
    .item-md{
        background-color: transparent;
    }
    .item-input ion-input, .item-input ion-textarea{
        background-color: $input-registro;
        padding: 5px 10px;
        color: white;
        border-radius: $border-radius-padrao;
    }
    .item-md.item-block .item-inner{
        border: none;
    }
    .label-md[stacked], .label-md[floating]{
        color: white;
        margin-bottom: 10px;
    }
    .item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked]{
        color: white;
    } 
    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.item-input-has-focus .item-inner{
        border-bottom-color: transparent;
        box-shadow: 0 0 0 white;
    }
}
