<div *ngIf="type == 'criar-conta'">

  <form [formGroup]="criarConta" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <div formGroupName="senhas">
      <ion-item class="fdba-input">
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="fdba-input__password">
        <ion-label stacked>Confirmar Senha</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
    </div>
    <fdba-button altura="50" type="criar-conta-submit" buttonText="criar conta" [disabledProp]="!criarConta.valid"></fdba-button>

  </form>
  <fdba-button class="fdba-input__criar-conta" type="botao-link" buttonText="login" resume="Já possui uma conta?" (clickButton)="logarPageEmit($event)"></fdba-button>
</div>


<div *ngIf="type == 'login'">
  <form [formGroup]="loginForm" (ngSubmit)="loginEmit()">

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="fdba-input__password">
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <fdba-button altura="50" type="criar-conta-submit" buttonText="logar" [disabledProp]="!loginForm.valid"></fdba-button>
  </form>
  <fdba-button class="fdba-input__criar-conta" type="botao-link" buttonText="criar conta" resume="Não possui uma conta?" (clickButton)="criarContaPageEmit($event)"></fdba-button>
  <fdba-button class="fdba-input__criar-conta" type="botao-link" buttonText="esqueci minha senha :(" resume="" (clickButton)="esqueciSenhaEmit($event)"></fdba-button>
</div>
