// App Global Sass
// Texto
$xxxl-font-size: 40px;
$xxl-font-size: 36px;
$xll-font-size: 25px;
$xl-font-size: 22px;
$l-font-size: 18px;
$m-font-size: 17px;
$default-font-size: 15px;
$s-font-size: 12px;
//buttons
//
// Colors
$white: #ffff;
$grey: #E3E3E3;
$primary: #218DB8;
$secondary: #46A29F;
$dark: #29495D;
$super-dark: #101F27;
$border: #FFBA37;
$gold: #FFBA37;
//
// gradientes
$primary-gradient: linear-gradient(45deg, #46A29F, #218DB8);
$primary-invert-grandient: linear-gradient(-45deg, #46A29F, #218DB8);
$red-gradient: linear-gradient(45deg, #FF2D2D, #FF7070);
$green-gradient: linear-gradient(45deg, #2AB570, #49EC9A);
$pink-gradient: linear-gradient(45deg, #FFBA37, #F55DA4);
$gold-gradient: linear-gradient(45deg, #FFB523, #FFCD6A);
$dark-blue-gradient: linear-gradient(45deg, #1F58A2, #218DB8);
$super-dark-blue-gradient: linear-gradient(90deg, #35617D, #101F27);
$primary-light-gradient: linear-gradient(45deg, #218DB8, #53A4C4);
//
//Neon Shadow
$gold-neon: 0 0 40px rgba(255, 186, 55, 0.40);
$red-neon: 0 0 40px rgba(255, 45, 45, 0.40);
$green-neon: 0 0 40px rgba(42, 181, 112, 0.40);
$primary-neon: 0 0 40px rgba(33, 141, 184, 0.40);
//Border radius
$border-padrao: 2px;
