// App Global Sass
// Texto
$xxxl-font-size: 40px;
$xxl-font-size: 36px;
$xll-font-size: 25px;
$xl-font-size: 22px;
$l-font-size: 18px;
$m-font-size: 17px;
$default-font-size: 15px;
$s-font-size: 12px;
$ss-font-size: 11px;
$xss-font-size: 10px;
//buttons
//
// Colors
$white: #ffff;
$grey: #E3E3E3;
$primary: #218DB8;
$secondary: #46A29F;
$dark: #29495D;
$medium-dark: #224053;
$super-dark: #101F27;
$border: #FFBA37;
$gold: #FFBA37;
$white-transparent: rgba(255, 255, 255, 0.30);
$white-transparent-medium: rgba(255, 255, 255, 0.50);
$super-dark-transparent :rgba(13, 37, 52, 0.65);
//
// gradientes
$primary-gradient: linear-gradient(45deg, #46A29F, #218DB8);
$primary-gradient-onboard: linear-gradient(235deg, #46A29F, #218DB8);
$primary-invert-gradient: linear-gradient(-45deg, #46A29F, #218DB8);
$red-gradient: linear-gradient(45deg, #FF2D2D, #FF7070);
$green-gradient: linear-gradient(45deg, #2AB570, #49EC9A);
$pink-gradient: linear-gradient(45deg, #FFBA37, #F55DA4);
$gold-gradient: linear-gradient(45deg, #FFB523, #FFCD6A);
$dark-blue-gradient: linear-gradient(45deg, #1F58A2, #218DB8);
$super-dark-blue-gradient: linear-gradient(90deg, #35617D, #101F27);
$primary-light-gradient: linear-gradient(45deg, #218DB8, #53A4C4);
//
//Neon Shadow
$gold-neon: 0 0 40px rgba(255, 186, 55, 0.40);
$red-neon: 0 0 40px rgba(255, 45, 45, 0.40);
$green-neon: 0 0 40px rgba(42, 181, 112, 0.40);
$primary-neon: 0 0 40px rgba(33, 141, 184, 0.40);
//Border width
$border-padrao: 1px;
//Border radius
$border-radius-padrao: 2px;
//
//Transparent
$transparent: transparent;
//
//Tab
.tabs-md .tabbar {
  background: $primary-gradient;
  box-Shadow: 0 -10px 60px rgba(0, 0, 0, 0.45)
}

ion-icon {
  &[class*="fdba-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  } // custom icons
  &[class*="fdba-icon"] {
    mask-image: url(../assets/icon/fundo-do-bau-icon.svg);
  }
  &[class*="fdba-perfil"] {
    mask-image: url(../assets/icon/fdba-perfil.svg);
  }
  &[class*="fdba-ranking"] {
    mask-image: url(../assets/icon/fdba-ranking.svg);
    width: 1.5em;
    height: 1.5em;
  }
}

.tabs-md .tab-button[aria-selected=true] {
  color: white;
  .tab-button-icon {
    color: white
  }
}

.tabs-md .tab-button {
  color: rgba(255, 255, 255, 0.55);
  &-icon {
    color: rgba(255, 255, 255, 0.55)
  }
}

//
//Header
.toolbar-background-md {
  background: $primary;
}

.toolbar-title-md {
  color: white;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: white;
}
