<section class="fdba-card" *ngFor="let desafio of listaDesafios" [ngClass]="{'fdba-card--andamento': desafio.myDesafio}">

  <div class="fdba-card__content-image" (click)="clickCardEmit(desafio)" [style.background-image]="'url('+desafio.imagem+')'">
    <div class="fdba-card__content-image__overlay" *ngIf="desafio.myDesafio">
      <fdba-badge type="avisos" avisoCor="gold" avisoIcon="ios-more" avisoText="Em andamento"></fdba-badge>

    </div>
    <div class="fdba-card__content-image__overlay" *ngIf="desafio.complete">
      <fdba-badge type="avisos" avisoIcon="checkmark" avisoText="Desafio Concluído!"></fdba-badge>

    </div>

  </div>
  <div class="fdba-card__content-title" [ngClass]="{'fdba-card__content-title--andamento': desafio.myDesafio}">

    <div class="fdba-card__content-title__title" (click)="clickCardEmit(desafio)" [ngClass]="{'fdba-card__content-title__title--andamento': desafio.myDesafio}">


      <span>{{desafio.nome}}</span>
    </div>

    <!-- botoes ativados -->
    <div class="fdba-card__content-title__buttons" *ngIf="botaoCardVerde && botaoCardVermelho">
      <fdba-button class="fba-card__content-title__buttons__vermelho" type="degrade-vermelho" altura="30" [buttonText]="botaoCardVermelho"
        (clickButton)="desisto(desafio)">
      </fdba-button>
      <fdba-button class="fba-card__content-title__buttons__verde" type="degrade-verde" altura="30" [buttonText]="botaoCardVerde"
        (clickButton)="teAchei(desafio)"></fdba-button>
    </div>

    <!-- botoes desativados -->
    <div class="fdba-card__content-title__progress" *ngIf="!botaoCardVerde && !botaoCardVermelho" (click)="clickCardEmit(desafio)">

      <div class="fdba-card__content-title__progress__circle">
        <span class="fdba-card__content-title__progress__circle__number">{{desafio.dificuldade}}</span>
        <round-progress [current]="desafio.dificuldade" [max]="10" [radius]="17" [stroke]="4" [color]="'#FFBA37'"></round-progress>
        <span class="fdba-card__content-title__progress__circle__label">Dificuldade</span>

      </div>

      <div class="fdba-card__content-title__progress__circle">
        <span class="fdba-card__content-title__progress__circle__number">{{desafio.pontos}}</span>
        <round-progress [current]="desafio.pontos" [max]="100" [radius]="17" [stroke]="4" [color]="'#218DB8'"></round-progress>
        <span class="fdba-card__content-title__progress__circle__label">Pontos</span>
      </div>
    </div>


  </div>
</section>
