fdba-toogle {
  .segment-ios .segment-button {
    border-color: $white;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white-transparent-hight;
  }
  .segment-ios .segment-button:first-of-type {
    border-top-left-radius: $border-radius-padrao;
    border-bottom-left-radius: $border-radius-padrao;
  }
  .segment-ios .segment-button:last-of-type {
    border-top-right-radius: $border-radius-padrao;
    border-bottom-right-radius: $border-radius-padrao;
  }
  .segment-ios .segment-button.segment-activated {
    background: $white-transparent-medium
  }
}
