page-parabens-local {
    ion-content{
        height: 100vh;
        background: $super-dark-blue-gradient;
    
        .fdba-page--parabens-local{
            &__parabens{
                font: $xxl-font-size;
            }
        }   
    }
}
