<section class="fdba-conquista" *ngIf="descricao">
  <div class="fdba-conquista__titulo" [style.background]="background">

    <div class="fdba-conquista__titulo__imagem">
      <img [src]="imagem">
    </div>
    <div class="fdba-conquista__titulo__texto">
      <span> {{titulo}} </span>
    </div>
  </div>
  <div class="fdba-conquista__descricao">
    <span [innerHTML]="descricao"></span>
  </div>
</section>

<section class="fdba-conquista--no-descricao" *ngIf="!descricao">
  <div class="fdba-conquista__titulo" [style.background]="background">
    <div class="fdba-conquista__titulo__imagem">
      <img [src]="imagem">
    </div>
    <div class="fdba-conquista__titulo__texto">
      <span> {{titulo}} </span>
    </div>
  </div>
</section>
