<section class="fdba-conquista" *ngIf="descricao">
  <div class="fdba-conquista__titulo" [style.background]="background">

    <div *ngIf="brilho" class="fdba-conquista__brilho">
    </div>

    <div *ngIf="bonus" class="fdba-conquista__bonus">
      <fdba-badge type="badge-red" badgePoints={{bonus}}></fdba-badge>
    </div>

    <div *ngIf="pontos" class="fdba-conquista__badge">
      <fdba-badge type="badge-yellow" badgePoints={{pontos}}></fdba-badge>
    </div>

    <div class="fdba-conquista__titulo__imagem">
      <img [src]="imagem">
    </div>
    <div class="fdba-conquista__titulo__texto">
      <span> {{titulo}} </span>
    </div>
  </div>
  <div class="fdba-conquista__descricao">
    <span [innerHTML]="descricao"></span>
  </div>
</section>

<section class="fdba-conquista--no-descricao" *ngIf="!descricao">
  <div class="fdba-conquista__titulo" [style.background]="background">
    <div class="fdba-conquista__titulo__imagem">
      <img [src]="imagem">
    </div>
    <div class="fdba-conquista__titulo__texto">
      <span> {{titulo}} </span>
    </div>
  </div>
</section>
