fdba-quiz {
  .fdba-quiz {
    &__paginacao {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 0 10px;
      &--inactive {
        height: 6px;
        width: 15px;
        margin: 0px 7px;
        background: $white;
        transition: all .4s
      }
      &--active {
        @extend .fdba-quiz__paginacao--inactive;
        width: 50px;
        transition: all .4s
      }
    }
    &__pergunta {
      width: calc(100% + 32px);
      margin: 0px -16px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      background: $super-dark-transparent;
      padding: 0px 17px;
      &__numero {
        color: $white;
        font-size: $xxl-font-size;
        display: inline-block;
      }
      &__pergunta {
        color: $white;
        display: inline-block;
        font-size: $xl-font-size;
      }
    }
    &__alternativas {
      position: relative;
      &__botoes {
        margin: 0px 0px 20px;
      }
    }
  }
}
